body {
    display:flex;
    text-align: center;
    margin: auto;
    justify-content: center;
} 

#navigation{
    position: relative;
    height: 50px;
}

.header{
    text-align: center;
    align-content: center;
    margin: auto;
    justify-content: center;
    position: relative; 
    height: 125px;
}

h1{
    color: whitesmoke;
    font-family: 'Chalkduster';
    font-size: 75px;
    text-align: center;
    margin: auto;
}

.paragraph{
    text-align: center;
    align-content: center;
    margin: auto;
    justify-content: center;
    position: relative;
    width: 60%;
}

p{
    color: whitesmoke;
    font-family: 'Chalkduster';
    font-size: 20px;
    text-align: center;
    margin: auto;
    line-height: 1.2;
}

#carousel{
    position: relative;
    height: 400px;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    overflow: hidden;
    justify-content: center;
}


.farLeftImage{
    width: 150px;
    opacity: .5;
    left: 22%;
    top:25%;
    position: absolute;
}

.leftImage{
    width: 200px;
    opacity: .7;
    left: 35%;
    top:90%;
}

.centerImage{
    width: 300px;
    opacity: 1;
    left: 50%;
    top:100%;
}

.rightImage{
    width: 200px;
    opacity: .7;
    left: 60%;
    top: 90%;
}

.farRightImage{
    width: 150px;
    opacity: .5;
    left: 68%;
    top:88%;
}


