body {
    background-image: url("./images/background.jpg");
    display:flex;
    text-align: center;
    margin: auto;
    justify-content: center;
} 

.header{
    text-align: center;
    align-content: center;
    margin: auto;
    justify-content: center;
    position: relative; 
    top: 50px;
}

h1{
    color: whitesmoke;
    font-family: 'Chalkduster';
    font-size: 75px;
    text-align: center;
    margin: auto;
}


